    .GameView{
        width : 85%; 
        height: 500px;
        margin : auto;
        background: grey;
        border: 2px solid cornflowerblue;
        background-image:url(../../assets/battaille.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .allhp{
        display: flex;
        justify-content : space-around;
        
    }