.Actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  img {
    width: 25px;
  }

  .Button {
    font-size: 20px;
  }

  .ButtonRed {
    background-color: red;
  }

  .ButtonRed:hover {
    background-color: red;
  }

  .ButtonBlue {
    background-color: blue;
  }

  .ButtonBlue:hover {
    background-color: blue;
  }

  .ButtonGrey {
    background-color: grey;
  }

  .ButtonGrey:hover {
    background-color: grey;
  }

}